<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Musify</title>
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body class="bg-black h-full overflow-hidden">
    <div class="bg-bgImg flex flex-wrap h-full">
        <img src="/images/login-banner.jpg"  alt="" class="w-full lg:w-6/12">
        <div class="flex items-center flex-col justify-between lg:py-10 py-5 mx-auto gap-36 lg:gap-0">
           <img src="/images/logo.svg" alt="">
            <div class="flex flex-col gap-5 font-outfit text-xl text-white text-center">
                <span class="text-2xl"><strong>Join Us</strong> and embark on an incredible musical <strong>journey!</strong></span>
                <a href="/auth"><button class="bg-green-400 rounded-3xl lg:w-3/5 w-2/3 m-auto px-4 py-2 text-black font-medium flex items-center justify-center gap-5 hover:bg-green-500 transition-all"><img class="w-8" src="/images/spotify-on-primary.svg" alt="">Continue With Spotify</button></a>
            </div>
            <span class="text-white flex gap-2">Powered By <a href="https://open.spotify.com" class="text-green-600 font-semibold">Spotify</a></span>            
        </div>
    </div>
</body>
</html>