<div
  class="text-white fixed bottom-0 z-50 bg-zinc-700 flex w-full justify-between py-3 px-6 font-outfit"
>
  <a href="" class="flex flex-col items-center"
    ><span
      class="material-symbols-outlined hover:bg-zinc-500 px-3 rounded-3xl py-1"
      >home</span
    >Home</a
  >
  <a href="" class="flex flex-col items-center"
    ><span
      class="material-symbols-outlined hover:bg-zinc-500 px-3 rounded-3xl py-1"
      >explore</span
    >Explore</a
  >
  <a href="" class="flex flex-col items-center"
    ><span
      class="material-symbols-outlined hover:bg-zinc-500 px-3 rounded-3xl py-1"
      >library_music</span
    >Playlist</a
  >
  <a href="" class="flex flex-col items-center"
    ><span
      class="material-symbols-outlined hover:bg-zinc-500 px-3 rounded-3xl py-1"
      >Album</span
    >Albums</a
  >
</div>
