<div class=" fixed bottom-20 justify-between w-full h-fit p-4 text-white  items-center bg-zinc-800 animation_backInUp hidden" id="lgPlayer">
  <span class="w-10 h-1 bg-white flex m-auto rounded-full mb-5"></span>
    <div class="flex">
      <img src="/images/track-banner.png" alt="" width="100" height="100px"/>
      <div class="py-1 px-4 gap-2 ">
        <p class="text-2xl">track name</p>
        <p class="text-lg text-gray-400">
          track artists name
        </p>
      </div>
    </div>
    <div class="w-full p-2 h-fit">
      <input type="range" name="smPlayer" id="" class="input" min="0" max="100" value="50">
      <div class="flex justify-between w-full">
        <span>--:--</span>
        <span>--:--</span>
      </div>
    </div>

    <div class="text-white flex justify-center gap-5 items-center">
      <span class="material-symbols-outlined px-4">skip_previous</span>
      <span class="material-symbols-outlined px-4 bg-green-600 p-4 rounded-full">play_arrow</span>
      <span class="material-symbols-outlined px-4">Skip_next</span>

    </div>

  </div>