@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;900&display=swap');



*:focus,
*:active,
*:hover {
  -webkit-tap-highlight-color: transparent;
  /* For iOS Safari */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input {
  width: 100%;
  outline: none;
}

.animation_BounceIn{
  animation: bounceIn 1s ease-in;
}

.animation_BounceOut{
  animation: bounceOut 1s ease-in;
}

.animation_fade{
  animation: fadeIn 500ms ease-in;
}
.animation_backInUp{
  animation: bounceInUp 1s ease-in-out;
}

.animation_backOutDown{
  animation: backOutDown 1s ease-in;
}

::-webkit-scrollbar {
  width: 8px;
}

.text-container {
  max-width: auto; 
  margin: 0 auto;
}

.input{
  cursor: pointer;
  accent-color: #12e29a;
}

.input::-webkit-slider-runnable-track{
  height: 5px;
  border-radius: 30px;
}
.input::-webkit-slider-thumb{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 0px #12e29a14 0 1px 3px 1px #00000026 0 1px 2px 0 #0000004d;
  margin-top: -5px;
}
/* .text-container p::after {
  content: '...';
  display: inline;
} */


